/* p, h1 {
  color: white;
} */

.Menu-Home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.Menu-About {
  display: flex;
  justify-content: flex-end;
}

.Menu-Projects {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.Menu-Contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
body {
  background-image: url('/oaxaca.jpg');
  
}