.container  {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 18vw);
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh;
  /* background-color: black; */
}


.header {
  grid-row-start: 1;
  grid-column-start: 1;
}


.home {
  grid-row-start: 5;
  grid-column-start: 1;
}


.about {
  grid-row-start: 2;
  grid-column-start: 5;
}

.project {
  grid-row-start: 5;
  grid-column-start: 5;
  grid-column-end: 6;
}


.anywhere {
  grid-row-start: 2;
  grid-column-start: 3;
}

.footer {
  grid-row-start: 6;
  grid-column-start: 1;
  grid-column-end: 3;
}


.LinkProjects {
  color: #81d8d0;
  grid-row-start: 7;
}

.LinkAbout {
  color: #81d8d0;
  
}



a:link {
  text-decoration: none;
  color: #81d8d0;
}
a:hover {
  color: #ffbbd0;
}




