.App {
  text-align: center;
  display: grid;
    grid-template-rows: 25vh 70vh 0vh;
}

.App-logo {
  height: 8vmin;
  display: flex;
}

.App-header {
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
  padding-bottom: 3px;
}

.App-link {
  color: #81d8d0;
  display: grid;
  grid-template-columns: 150px 150px 150px;

}


.Links {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  color: #81d8d0;
  font-weight: bolder;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #81d8d0;
}

a:hover {
  color: #ffbbd0;
}

.footer-container {
  display: grid;
  /* grid-template-columns: 150px 150px 150px; */
  /* grid-template-rows: 150px; */
  grid-template-areas: "footer footer footer footer";

}

.footer {
  grid-area: footer;
 
}